<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yhh.bj4.parasitic.launcher">

    <application
        android:name=".ParasiticApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="yhh.bj4.parasitic.launcher.widgets.ParasiticWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/parasitic_widget_info" />
        </receiver>
        <!-- all apps widget components start-->
        <receiver android:name="yhh.bj4.parasitic.launcher.widgets.allapps.AllappsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="yhh.bj4.parasitic.launcher.widgets.allapps.click" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/allapps_widget_info" />
        </receiver>
        <activity
            android:name=".widgets.allapps.AllappsWidgetConfigurationActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service
            android:name="yhh.bj4.parasitic.launcher.widgets.allapps.AllappsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <!-- all apps widget components end-->
    </application>

</manifest>
